/* Style for the container div to hold the input and button */
.input-container {
    display: flex;
    align-items: flex-start;
    justify-content: center; /* Center the items horizontally */
    width: 60%;
    margin: 0 auto;
    border: 2px solid darkturquoise; /* Add border to the container */
    border-radius: 5px; /* Rounded corners for the container */
    padding: 10px; /* Add padding to the container */
    background-color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
}


#prompt {
    flex-grow: 1;
    height: 100px;
    padding: 10px;
    border: none; /* Remove border from the textarea */
    resize: none;
    font-size: 16px;
    outline: none; /* Remove outline when the textarea is in focus */
}


/* Style for the Send button */
#runButton {
    padding: 10px 15px;
    background-color: #89347c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#refreshButton {
    padding: 5px 5px;
    background-color: darkturquoise;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.chat-container {
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 57.5%;
    min-height: 400px;
    margin: 0 auto;
    border: 2px solid darkturquoise; 
    border-bottom: none;
    border-radius: 5px 5px 0 0; /* Rounded top corners */
    padding: 10px; /* Add padding to the container */
    font-family: 'Nunito Sans', sans-serif;
}

body {
    text-align: center; 
    margin: 0 auto; 
    display: block;
    font-family: 'Nunito Sans', sans-serif;
}

.text-bar {
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.option-bar {
    background-color: #89347c; 
    width:60%; 
    justify-content: center; 
    margin: 0 auto; 
    border-radius: 5px;
}

@media (max-width: 800px) {
    .option-bar {
        background-color: #89347c; 
        width:95%; 
        justify-content: center; 
        margin: 0 auto; 
        border-radius: 5px;
    }
    #refreshButton {
        padding: 5px 10px;
        background-color: darkturquoise;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
    }
    .chat-container {
        display: flex;
        align-items: flex-start;
        text-align: left;
        width: 90%;
        min-height: 400px;
        margin: 0 auto;
        border: 2px solid darkturquoise; 
        border-bottom: none;
        border-radius: 5px 5px 0 0; /* Rounded top corners */
        padding: 10px; /* Add padding to the container */
        font-family: 'Nunito Sans', sans-serif;
    }
    .input-container {
        display: flex;
        align-items: flex-start;
        justify-content: center; /* Center the items horizontally */
        width: 95%;
        margin: 0 auto;
        border: 2px solid darkturquoise; /* Add border to the container */
        border-radius: 5px; /* Rounded corners for the container */
        padding: 5px; /* Add padding to the container */
        background-color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
    }
}